@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {

    --font-padrão: 'Ubuntu'
}

body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.1em;
    font-family: var(--font-padrão)

}

a {
    text-decoration: none;
    color: white;
}

.header {
    background-color: rgba(58,188,181,255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 19px;
}

.menu {
    display: flex;
    margin-left: 100px;
}

.menu li {
    margin-left: 20px;
}

.menu li a {
    display: block;
    padding: 10px;


}